<!DOCTYPE html>
<html>
<head>

    <title>Create Comment</title>

</head>
<body>
    <form action="/action_page.php">
        Comment:<br>
        <textarea rows="500" cols="1000"></textarea>
        <br>
        <input type="submit", value="Submit Comment">
    </form>
</body>
</html>