<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div class="profile">
      <img src="null">
      <br>
      <a href="/user/edit-profile">Edit Profile</a> |
      <a href="/logout">Logout</a>
    </div>

    <div class="welcome">
      <h1>Hello <%= getFullName(user.firstname, user.lastname, user.gender) %>!</h1>
      <h3>What are you up to today?</h3>
    </div>

    <div class="button">
      <button type="button" name="button">Create Group</button>
      <button type="button" name="button">Join Group</button>
    </div><br>

    <div class="list-joined-group">
      <table border='1'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Group Name</th>
            <th>Group Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Lorem Group</td>
            <td>Lorem ipsum dolor sit amet bacon ipsum amet si dolor bacon sit lorem ipsum</td>
            <td>
              <a href="#">Open Group</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Lorem Group 2</td>
            <td>Lorem ipsum dolor sit amet bacon ipsum amet si dolor bacon sit lorem ipsum</td>
            <td>
              <a href="#">Open Group</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
