<!DOCTYPE html>
<html>
<head>

    <title>Join Group</title>

</head>
<body>
    <div class="list-joined-group">
        <table border='1'>
          <thead>
            <tr>
              <th>Id</th>
              <th>Group Name</th>
              <th>Group Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%for(let index=0; index<groupData[0].length; index++){%>
            <tr>
              <td><%=groupData[index].id%></td>
              <td><%=groupData[index].groupName%></td>
              <td><%=groupData[index].groupDesc%></td>
              <td>
                <a href="/home/join-group/<%=UserGroupData[0].Groups[index].id%>">Join Group</a>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
</body>
</html>