<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Get-Con</h1>
    <div>
    <form action="/login" method="POST">
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Login">
        <br>
        <a href="/register">SignUp!</a>
    </form>    
</body>
</html>