<!DOCTYPE html>
<html>
<head>
    <title>Register!</title>
</head>
<body>
    <h1>REGISTER!</h1>
    <form action="/register" method="POST">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        Gender:<br>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female<br>
        <br>
        Birthday:<br>
        <input type="date" name="birthday">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
